---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Work from "../icons/Work.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Behance from "../icons/Behance.astro";
import Person from "../icons/Person.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Miguel's Portfolio - Web Developer"
  description="Explore my portfolio to see a showcase of my work and the diverse range of web applications I’ve developed. From seamless user experiences to innovative solutions, I’m excited to share how I can bring your ideas to life."
>
  <main class="px-4">
    <SectionContainer class="pt-10 lg:pt-44 pb-24 px-4">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm Miguel Yustiz <a
          href="https://linkedin.com/in/miguelyustiz"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Open to Work</Badge>
        </a>
      </h1>
      <h2
        class="text-md md:text-xl lg:text-2xl opacity-80 text-wrap max-w-[1000px]"
      >
        As a <span class="text-red-300">Web Developer,</span> I thrive on tackling
        new challenges daily. My passion for transforming designs into functional
        <span class="text-red-300">web applications</span> drives me to create outstanding
        software, always prioritizing user experience, best practices, and the application's
        requirements.
      </h2>
      <nav class="flex gap-3 mt-5 flex-wrap">
        <SocialPill href="https://linkedin.com/in/miguelyustiz">
          <Linkedin class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill
          href="https://github.com/zankeii"
          target="_blank"
          rel="noopener noreferrer"
          ><Github class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill
          href="mailto:miguelyustiz97@gmail"
          target="_blank"
          rel="noopener noreferrer"
          ><Mail class="size-4 lg:size-6" />
          miguelyustiz97@gmail.com
        </SocialPill>
        <SocialPill
          href="https://www.behance.net/miguelyustiz"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Behance class="size-4 lg:size-6" />
          Behance
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-10 flex gap-2 items-center">
        <Work class="size-4 lg:size-6" />
        Professional Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-10 flex gap-2 items-center">
        <Code class="size-4 lg:size-6" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="about">
      <h2 class="text-3xl font-semibold mb-10 flex gap-2 items-center">
        <Person class="size-4 lg:size-6" />
        About Me
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
