---
const personalImageAlt = "Miguel Yustiz";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div class="text-lg font-semibold text-pretty order-2 md:order-1">
    <p class="mb-4">
      Starting my coding journey at the age of 17, I embarked on a dynamic path
      of learning and growth in software development. My initial experience at a
      software academy sharpened my algorithmic thinking and deepened my
      understanding of data structures, igniting my passion for programming.
    </p>

    <p class="mb-4">
      As a versatile web developer, I specialize in creating exceptional digital
      experiences. My career began with a solid foundation in JavaScript and has
      expanded to include proficiency in various web technologies such as HTML,
      CSS, TypeScript, React, WordPress, Angular, Node.js, and PHP. With
      expertise in Adobe Photoshop and Figma, I adeptly blend design and
      functionality. My keen attention to detail and strong organizational
      skills have enabled me to effectively manage projects and lead teams in my
      current role.
    </p>

    <p>
      At Gaido's Seaside Inn and StayGalveston, I have been instrumental in web
      development and SEO strategies, significantly boosting online traffic and
      bookings. I’d love to connect and explore how my skills can contribute to
      your team’s success
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://media.licdn.com/dms/image/D5603AQEDyDOB_1BsDg/profile-displayphoto-shrink_200_200/0/1720575610008?e=1726704000&v=beta&t=YJ-7mIu2LZoGTpWwQGbgoSzILdiZyip-xW1VJjYzhg0"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
